<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="Y.com" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class ="body-background-color">
    <div class="flex-container">
      <div class="flex-content">
        <%= render "layouts/navbar" %>
        <%= yield %>
      </div>
        <%= render "layouts/footer" %>
    </div>
  </body>
</html>
